.entry-wrapper {
  min-height: 100vh;
  background: #0a0a0a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-card {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
}

.enter-btn {
  width: 100%;
  padding: 12px;
  background: #00c853;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
