.admin-login-container,
.admin-dashboard,
.admin-products {
  padding: 20px;
  text-align: center;
}

.admin-card {
  background: #1f2937;
  color: white;
  padding: 25px;
  border-radius: 15px;
  max-width: 380px;
  margin: auto;
}

.admin-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #60a5fa;
}

.admin-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

.admin-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.admin-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.admin-box {
  background: #111827;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.logout {
  background: red;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  background: #111827;
  padding: 12px;
  border-radius: 10px;
  color: white;
}

.product-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.preview-img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  margin: 5px auto;
  border-radius: 10px;
}

.delete-btn {
  background: #dc2626;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  margin-top: 8px;
}
